<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>Gigadex<%= title ? ' | ' + title.charAt(0).toUpperCase() + title.slice(1) : '' %></title>
	<link rel="stylesheet" href="../../defaults/style.css">
	<link rel="shortcut icon" href="/assets/images/fav.png" type="image/png">
</head>

<body>
	<div class="app">
		<div class="window">
			<%- window %>
		</div>
		<div class="taskbar">
			<%- include('taskbar') %>
		</div>
	</div>
	<script src="/socket.io/socket.io.js"></script>
	<script src="../../defaults/script.js"></script>
</body>

</html>